# Kopier til terraform.tfvars og fyll inn dine verdier
# IKKE commit terraform.tfvars til Git!

student_identifier = "skriv inn passende unik student_identifier"
environment        = "skriv inn environment (dev, test, prod)"
location           = "Skriv inn ett av godkjent locations (se variables.tf)"
